<h1>Create new Pirate</h1>

<form action="/pirates" method="POST">
<div>

  <input type ="text" name="name" placeholder="Name">
</div>  
<div>
 
  <input type ="text" name="birthplace"placeholder="Birthplace"> 
</div>
<div>
  <input type ="text" name="death_year" placeholder="death_year">
</div>
<div>
   
  <input type ="text" name="base" placeholder="Base">
</div>
<div>
    
  <input type ="text" name="nickname" placeholder="Nickname">
</div>
<button type="submit" value="Create New Pirate">Create</button>
</form>