<h1>Create new Pirate</h1>

<form method="POST" action="/pirates">
<div>
<label for="description">name:</label>
  <input type ="text" name="name">
</div>  
<div>
 <label for="description">birthplace:</label>
  <input type ="text" name="birthplace"> 
</div>
<div>
    <label for="description">death_year:</label>
  <input type ="text" name="death_year">
</div>
<div>
    <label for="description">base:</label>
  <input type ="text" name="base">
</div>
<div>
    <label for="description">nickname</label>:</label>
  <input type ="text" name="nickname">
</div>
<button>submit</button>
</form>